body {
    font-size: 16px;
    color: #fff;
    background-color: #D3D59F;
    font-family: 'Open Sans', sans-serif;
}

/** Header **/
#header-nav{
    background-color: #565656;
    border-radius: 0;
    border: 0;
}

#logo-img {
    width: 175px;
    height: 100px;
    margin: 5px 5px 0 0;
}

/*text under logo*/
.navbar-brand p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    font-size: .8em;
    position: relative;
    left: 25px;
    bottom: 5px;
    font-weight: 50;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}